In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import joblib

In [22]:
# Season: 1 = Summer, 0 = Winter
# Time: 1 = Day, 0 = Night
# Output: 1 = Converges, 0 = Explodes

df = pd.read_csv(r"C:\Users\rohan\Desktop\ELENE6895_Project\PSSE Files\Data\Prediction Training Data.csv")
df

      Bus  Voltage  Season  Time  Demand  Renewables  Output
0       1   1.0796       1     1     100           8       1
1       2   1.0988       1     1     100           8       1
2       3   1.0841       1     1     100           8       1
3       4   1.0650       1     1     100           8       1
4       5   1.0643       1     1     100           8       1
...   ...      ...     ...   ...     ...         ...     ...
2725   35   1.0469       0     0     200          50       0
2726   36   1.0829       0     0     200          50       0
2727   37   1.0804       0     0     200          50       0
2728   38   1.0920       0     0     200          50       0
2729   39   1.0313       0     0     200          50       0

[2730 rows x 7 columns]

In [38]:
X = df[['Season', 'Time', 'Demand', 'Renewables']]
y = df[['Voltage','Output']]

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [40]:
clf = DecisionTreeRegressor(random_state=0)

In [41]:
#Training the decision tree classifier. 
clf.fit(X_train, y_train)

y_pred =  clf.predict(X_test)
X_test

      Season  Time  Demand  Renewables
1489       0     1     120           8
437        1     0     100          40
1447       1     0     120          50
825        0     0     100          20
2120       1     1     150          50
...      ...   ...     ...         ...
813        0     1     100          20
2077       1     0     150          25
2268       0     1     150          25
807        0     1     100          20
568        0     1     100           8

[546 rows x 4 columns]

In [42]:
y_pred

array([[1.04853824, 1.        ],
       [1.0634931 , 1.        ],
       [0.68438333, 0.        ],
       ...,
       [0.67266562, 0.        ],
       [1.06636207, 1.        ],
       [1.07512813, 1.        ]])

In [43]:
score = clf.score(X_train, y_train)
print("R-squared:", score)

R-squared: 0.699777806196882

In [44]:
mse = mean_squared_error(y_test, y_pred)
print("MSE: ", mse)
print("RMSE: ", mse*(1/2.0))

MSE:  0.031172894932005576
RMSE:  0.015586447466002788

In [45]:
predict_1 = clf.predict([[1, 1, 200, 100]])

In [46]:
print(predict_1)

[[0.6248375 0.       ]]

In [12]:
adj_r = 1 - (1-clf.score(X_train, y_train))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1)

In [13]:
print(adj_r)

0.7091718563526459

In [14]:
joblib.dump(clf, "clf.pkl")

['clf.pkl']